[Unit]
Description={{description}}
After=network.target nss-lookup.target

[Service]
ExecStart=/usr/bin/npm start
WorkingDirectory=/usr/lib/{{name}}
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier={{name}}
User={{username}}
Group={{username}}
{{#environment}}
Environment={{key}}={{value}}
{{/environment}}
{{#serviceOptions}}
{{key}}={{value}}
{{/serviceOptions}}

[Install]
WantedBy=multi-user.target
