%define name {{name}}
%define version {{version}}
%define release {{release}}
%define buildroot %(mktemp -ud %{_tmppath}/%{name}-%{version}-%{release}-XXXXXX)

Name: %{name}
Version: %{version}
Release: %{release}
Summary: {{name}}

Group: Installation Script
License: {{license}}
Source: %{name}.tar.gz
BuildRoot: %{buildroot}
Requires: nodejs{{#nodeVersion}} {{{nodeVersion}}}{{/nodeVersion}}
{{#requires}}
Requires: {{{.}}}
{{/requires}}
BuildRequires: nodejs{{#nodeVersion}} {{{nodeVersion}}}{{/nodeVersion}}
{{#buildRequires}}
BuildRequires: {{{.}}}
{{/buildRequires}}
AutoReqProv: no

%description
{{description}}

%prep
%setup -q -c -n %{name}

%build
{{#prune}}
npm prune --production
{{/prune}}
npm rebuild

%pre
getent group {{username}} >/dev/null || groupadd -r {{username}}
getent passwd {{username}} >/dev/null || useradd -r -g {{username}} -G {{username}} -d / -s /sbin/nologin -c "{{username}}" {{username}}

%install
mkdir -p %{buildroot}/usr/lib/{{name}}
cp -r ./ %{buildroot}/usr/lib/{{name}}
mkdir -p %{buildroot}/var/log/{{name}}

%post
systemctl enable /usr/lib/{{name}}/{{name}}.service
{{#postInstallCommands}}
{{{.}}}
{{/postInstallCommands}}

%clean
rm -rf %{buildroot}

%files
%defattr(644, {{username}}, {{username}}, 755)
/usr/lib/{{name}}
/var/log/{{name}}
{{#hasExecutableFiles}}
{{#executableFiles}}
%attr(755, {{username}}, {{username}}) {{.}}
{{/executableFiles}}
{{/hasExecutableFiles}}
