[Unit]
Description=My Cool API
After=network.target nss-lookup.target

[Service]
ExecStart=/usr/bin/npm start
WorkingDirectory=/usr/lib/my-cool-api
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=my-cool-api
User=my-cool-api
Group=my-cool-api
CPUSchedulingPriority=50
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
